@using MisViajes.Extensions

@{
    ViewBag.Title = "Panel De Usuario";
}

<div class="main-wrapper dashboard">

    @Html.Partial("_headerDashboard")


    <!-- ====================================
    ——— USER SECTION
    ===================================== -->
    <section class="py-9">
        <div class="container">
            <div class="mb-7">

                <h2 class="text-uppercase font-size-22 font-weight-semibold">Hola @User.Identity.GetFullName() Bienveniado a <span class="text-primary"> Mis Viajes</span></h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
            </div>

        

            <!-- Booking Section -->
            <div class="mb-7">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="card card-md text-white rounded-top-0 bg-info mb-3 mb-lg-0">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="">
                                    <h2 class="font-weight-bold text-white mb-1">@ViewBag.AtraccionesCount</h2>
                                    <p class="card-text text-white text-capitalize">Atracciones</p>
                                </div>

                                <div class="badge border border-white rounded-circle badge-sm p-0">
                                    <span class="d-block">
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                            </div>

                            <a href="@Url.Action("index", "Atracciones")" class="btn card-footer text-capitalize text-white font-size-15 d-flex justify-content-between align-items-center">
                                <div class="">
                                   Ver Todos
                                </div>

                                <div class="">
                                    <i class="fa fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="card card-md text-white rounded-top-0 bg-danger mb-3 mb-lg-0">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="">
                                    <h2 class="font-weight-bold text-white mb-1">@ViewBag.HospedajesCount</h2>
                                    <p class="card-text text-white text-capitalize">Hospedajes</p>
                                </div>

                                <div class="badge border border-white rounded-circle badge-sm p-0">
                                    <span class="d-block">
                                        <i class="fa fa-fort-awesome"></i>
                                    </span>
                                </div>
                            </div>

                            <a href="@Url.Action("index", "Hospedajes")" class="btn card-footer text-capitalize text-white font-size-15 d-flex justify-content-between align-items-center">
                                <div class="View-details">
                                    Ver Todos
                                </div>

                                <div class="arrow-right">
                                    <i class="fa fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="card card-md text-white rounded-top-0 bg-success-light mb-3 mb-md-0">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="">
                                    <h2 class="font-weight-bold text-white mb-1">@ViewBag.EventosCount</h2>
                                    <p class="card-text text-white text-capitalize">Eventos</p>
                                </div>

                                <div class="badge border border-white rounded-circle badge-sm p-0">
                                    <span class="d-block">
                                        <i class="fa fa-flag"></i>
                                    </span>
                                </div>
                            </div>

                            <a href="@Url.Action("index", "Eventos")"
                               class="btn card-footer text-capitalize text-white font-size-15 d-flex justify-content-between align-items-center">
                                <div class="View-details">
                                   Ver Todos
                                </div>

                                <div class="arrow-right">
                                    <i class="fa fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="card card-md text-white rounded-top-0 bg-primary mb-3 mb-md-0">
                            <div class="card-body d-flex align-items-center justify-content-between">
                                <div class="">
                                    <h2 class="font-weight-bold text-white mb-1">@ViewBag.MonumentosCount</h2>
                                    <p class="card-text text-white text-capitalize">Monumentos</p>
                                </div>

                                <div class="badge border border-white rounded-circle badge-sm p-0">
                                    <span class="d-block">
                                        <i class="fa fa-map-signs"></i>
                                    </span>
                                </div>
                            </div>

                            <a href="@Url.Action("index", "Monumentos")"
                               class="btn card-footer text-capitalize text-white font-size-15 d-flex justify-content-between align-items-center">
                                <div class="View-details">
                                    Ver Todos
                                </div>

                                <div class="arrow-right">
                                    <i class="fa fa-long-arrow-right"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>


@section Scripts{}
