@using MisViajes.Extensions
@using MisViajes.Models
@model ApplicationUser

@{
    ViewBag.Title = "Profile";
}

<div class="main-wrapper profile">
    @Html.Partial("_headerDashboard")


    <!-- ====================================
    ——— PROFILE SECTION
    ===================================== -->
    <section class="py-9">
        <div class="container">
            @using (Html.BeginForm("Profile", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="hover-profile mb-7 mb-lg-9">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-xl-4">
                            <div class="mb-6 mb-md-0">
                                <a href="@Url.Action("SetAvatar", "Manage")">
                                    <img class="w-100" data-src=" @User.Identity.GetImgUrl() " src=" @User.Identity.GetImgUrl() " alt="Generic placeholder image">
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-7 col-xl-8">
                            <div class="d-flex justify-content-between align-items-baseline">
                                <div class="mb-6 mb-md-4 mb-lg-6 center-block">
                                    <h2 class="text-uppercase font-weight-bold">
                                        @User.Identity.GetFullName()
                                        <a onclick="editar()" href="javascript:void(0);">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                        <input class="dfor" type="submit" value="Guardar" style="display: none" />
                                    </h2>
                                    <i class="= font-size-15 text-gray-color efor" style="display: none">Los cambios en su nombre se veran reflejados en su proximo login </i>
                                    <p class="mb-0 dfor"> @Html.DisplayFor(model => model.Posicion)
                                    <p class="mb-0 efor" style="display: none"> @Html.EditorFor(model => model.Posicion, new { htmlAttributes = new { placeholder = "Posicion" } })</p>
                                </div>


                            </div>

                            <p class="line-height-26 dfor"> @Html.DisplayFor(model => model.Acerca)</p>
                            <p class="line-height-26 efor" style="display: none"> @Html.TextAreaFor(model => model.Acerca, 3, 50, new { placeholder = "Breve Descripcion" })</p>

                            <ul class="list-unstyled">
                                <li class="media media-profile-list">
                                    <strong>Nombre:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor"> @Html.DisplayFor(model => model.Nombre)</span>
                                        <span class="text-gray-color efor" style="display: none"> @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { placeholder = "Nombre" } })</span>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>Apellido:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor">@Html.DisplayFor(model => model.Apellido)</span>
                                        <span class="text-gray-color efor" style="display: none">@Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { placeholder = "Apellido" } })</span>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>Teléfono:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor">@Html.DisplayFor(model => model.PhoneNumber)</span>
                                        <span class="text-gray-color efor" style="display: none">@Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { placeholder = "Telefono" } })</span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>Dirección:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor">@Html.DisplayFor(model => model.Domicilio)</span>
                                        <span class="text-gray-color efor" style="display: none">@Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { placeholder = "Direccion" } })</span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>Código Postal:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor">@Html.DisplayFor(model => model.CodigoPostal)</span>
                                        <span class="text-gray-color efor" style="display: none">@Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { placeholder = "CP" } })</span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>País:</strong>

                                    <div class="media-body ml-2">
                                        <span class="text-gray-color dfor">@Html.DisplayFor(model => model.Pais)</span>
                                        <span class="text-gray-color efor" style="display: none">@Html.EditorFor(model => model.Pais, new { htmlAttributes = new { placeholder = "Pais" } })</span>
                                    </div>
                                </li>

                                <li class="media media-profile-list">
                                    <strong>Email:</strong>

                                    <div class="media-body ml-2">
                                        <a href="mail:to" class="text-gray-color hover-text-primary dfor">@Html.DisplayFor(model => model.Email)</a>
                                        <a href="mail:to" class="text-gray-color hover-text-primary efor" style="display: none">@Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email" } })</a>
                                    </div>
                                </li>
                            </ul>

                            <ul class="list-inline d-flex mb-0">
                                <li class="mr-3 mr-lg-2 mr-xl-3">
                                    <a class="icon-default icon-light-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li class="mr-3 mr-lg-2 mr-xl-3">
                                    <a class="icon-default icon-light-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li class="mr-3 mr-lg-2 mr-xl-3">
                                    <a class="icon-default icon-light-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                        <i class="fa fa-rss" aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li class="">
                                    <a class="icon-default icon-light-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                        <i class="fa fa-vimeo" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Contact Section -->
                <div class="mb-7 mb-lg-9">
                    <h3 class="text-uppercase font-weight-bold mb-4">Acerca de Ti</h3>
                    <p class="line-height-26 mb-0 dfor">@Html.DisplayFor(model => model.Descripcion)</p>
                    <p class="line-height-26 mb-0 efor" style="display: none">@Html.TextAreaFor(model => model.Descripcion, 5, 100, new { placeholder = "A Cerca de TI" })</p>
                </div>

            }
            <!-- Contact Section -->
            <div class="bg-smoke p-2 p-md-5 p-lg-6 rounded efor" style="display: none">
                <div class="row justify-content-center">
                </div>
            </div>
        </div>
    </section>


</div><!-- element wrapper ends -->

@section Scripts{

    <script>
        function editar() {
            $(".efor").toggle();
            $(".dfor").toggle();
        }
    </script>

}