@model MisViajes.Models.IndexViewModel
@{
    ViewBag.Title = "Configurar";
}

<div class="main-wrapper dashboard">

    @Html.Partial("_headerDashboard")

</div>

<div class="main-wrapper">
    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken"
             style="background-image: url(@Url.Content("~/assets/img/pages/page-title-bg5.jpg"));"
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 200px;">
                    <div class="col-lg-6">
                        <div class="page-title-content">
                            <div class="title-border">
                                <h2 class="text-uppercase text-white font-weight-bold">@ViewBag.Title</h2>
                            </div>
                            <p class="text-white mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	CONTACT INFO SECTION
    ===================================== -->
    <section class="py-9 pt-md-10">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 col-lg-6 col-xl-7">

                    <p class="text-success">@ViewBag.StatusMessage</p>
                    <div>
                        <h4>Aquí podra cambiar la configuración de su cuenta</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>Contraseña:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
                                {
                                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Crear", "SetPassword")
                                }
                                ]
                            </dd>
                            <dt>Inicios de sesión externos:</dt>
                            <dd>
                                @Model.Logins.Count [
                                @Html.ActionLink("Administrar", "ManageLogins") ]
                            </dd>

                            <dt>Número de teléfono:</dt>
                            <dd>
                                @(Model.PhoneNumber ?? "Ninguno")
                                @if (Model.PhoneNumber != null)
                                {
                                    <a onclick="editar()" href="@Url.Action("AddPhoneNumber", "Manage")">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <text> [<input type="submit" value="Quitar" class="btn-link" />] </text>
                                    }
                                }
                                else
                                {
                                    <text>[&nbsp;&nbsp;@Html.ActionLink("Agregar", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                                }
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div><!-- element wrapper ends -->

@section Scripts{}