@model IEnumerable<MisViajes.Models.Atracciones>


<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(@Url.Content("~/assets/img/pages/page-title-bg11.jpg"));">
        <div class="container">
            <div class="row align-items-center justify-content-center" style="height: 200px;">
                <div class="col-lg-6">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h2 class="text-uppercase text-white font-weight-bold">Atracciones</h2>
                        </div>
                        <p class="text-white mb-0"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">

    <div class="row mb-3 mt-2  d-flex  ordenar_hospedaje">
        <div class="col-lg-6">
            <a href="@Url.Action("Index",new { order = "1"})" class="btn  btn-primary  text-white  mb-2  ">ORDENAR POR CALIFICACIÓN</a>
        </div>
        <div class="col-lg-6">
            @if (@ViewBag.Message == "Confirmado")
            {
                <a href="@Url.Action("Create")" class="float-lg-right btn  btn-primary d-lg-inline-block text-white">
                    <i class="fa fa-plus" aria-hidden="true"></i>

                    Agregar Nueva Atracciones
                </a>
            }
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row  shadow  mb-2 bg-white rounded">

            <div class="col-lg-4 p-0">
                <div class="media-img  position-relative">
                    @if (@Html.DisplayFor(modelItem => item.Fotourl).ToString() == "")
                    {
                        <img class="rounded-left img-fluid  position-relative imgIndex" src="@Html.DisplayFor(modelItem => item.weburl)" alt="@Html.DisplayFor(modelItem => item.Nombre)">

                    }
                    else
                    {
                        <img class="rounded-left img-fluid position-relative imgIndex"src="/assets/img/holets/@Html.DisplayFor(modelItem => item.Fotourl)" alt="@Html.DisplayFor(modelItem => item.Nombre)">

                    }
                </div>
            </div>

            <div class="col-lg-6 align-self-lg-start ">
                <div class="row">
                    <div class="col-lg-12 mt-3">
                        <p class="m-0 float-right mr-4"><span class="bg-primary rounded p-1 text-white">@Html.DisplayFor(modelItem => item.Puntuacion) <i class="fa fa-star" aria-hidden="true"></i></span></p>
                    </div>
                    <div class="col-lg-12">
                        <h4>
                            <a class="media-title" href=" @Url.Action("Details", "Atracciones", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Nombre)</a>
                        </h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="descripcion_serv">
                            <p>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                        </div>
                    </div>

                </div>
               
            </div>

            <div class="col-lg-2 bg-primary  mt-0 rounded">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-12 align-self-center p-4">
                        <div>
                            <a href=" @Url.Action("Details", "Atracciones", new { id = item.Id })" class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Detalle</a>
                        </div>
                        @if (@ViewBag.Message == "Confirmado")
                        {
                            <div>
                                <a href=" @Url.Action("Delete", "Atracciones", new { id = item.Id })" class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Eliminar</a>
                            </div>

                            <div>
                                <a href=" @Url.Action("Edit", "Atracciones", new { id = item.Id })" class="btn btn-xs btn-block btn-outline-white btn-booking text-uppercase mb-2">Editar</a>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    }
</div>

@section Scripts{

}