@using MisViajes.Models
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>@ViewBag.Title - DFS 2020</title>
    <link href="@Url.Content("~/assets/plugins/isotope/isotope.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/fancybox/jquery.fancybox.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/selectric/selectric.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/daterangepicker/css/daterangepicker.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/dzsparallaxer/dzsparallaxer.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/revolution/css/settings.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/star.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/animate/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/menuzord/css/menuzord.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/menuzord/css/menuzord-animations.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <!--ANGULAR-->
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="~/scripts/foro/styles.css">


    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/png" href="../assets/img/favicon.png" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/StyleSheet.css")" type="text/css" />
    <!--ChatBot BlueCaribu-->
    <script async>(function (w, d) { var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.setAttribute("src", "https://app.bluecaribu.com/conversion/integration/c3063dc2d99319e631631e58cd8c7b14"); h.appendChild(s); })(window, document);</script>

</head>

<body id="body" class="up-scroll" data-spy="scroll" data-target=".element-right-sidebar">

    <!-- Preloader -->
    <div id="preloader" class="smooth-loader-wrapper">
        <div class="smooth-loader">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>
    </div>


    <!-- ====================================
    ——— HEADER
    ===================================== -->
    <header class="header" id="pageTop">

        <!-- Menu Zord -->
        <nav class="nav-menuzord  navbar-sticky" id="NavBar">
            <div class="container clearfix">
                <div id="menuzord" class="menuzord">
                    <!-- Menu Zord For Index -->
                    @Html.ActionLink(" ", "Index", "Home", null, new { @class = "menuzord-logo-brand", id = "LogoBlack", @style = "display:none" })

                    <!-- Menu Zord for Dashboar (view script in dashboar) -->
                    <a href='@Url.Action("Index", "Home")' class="menuzord-brand" id="LogoColor">
                        <img src='@Url.Content("~/assets/img/logo-color-big.png")' />
                    </a>

                    <div class="nav-item dropdown nav-item-left mr-0">
                        <a href="javascript:void(0)" class="btn btn-xs btn-primary d-none d-lg-inline-block" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fa fa-search mr-0" aria-hidden="true"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right rounded-0">
                            <form class="" action="@Url.Action("Index", "Home")" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm rounded-0" required="" placeholder="Buscar....">
                                    <div class="input-group-append">
                                        <button class="input-group-text border-0 rounded-0 btn bg-primary" type="submit">
                                            <span class="text-white text-uppercase font-weight-bold">Buscar</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul class="menuzord-menu menuzord-right">
                        <li class=" active ">
                            @Html.ActionLink("Portada", "Index", "Home", null, new { @class = "" })
                        </li>

                        <li class="">
                            @Html.ActionLink("Atracciones", "Index", "Atracciones")
                        </li>

                        <li class="">
                            @Html.ActionLink("Hospedaje", "Index", "Hospedajes")
                        </li>

                        <li class="">
                            @Html.ActionLink("Actividades", "Index", "Home")

                            <ul class="dropdown drop-up">
                                <li class=" ||">

                                    <a href="javascript:void(0)">Monumentos</a>

                                    <ul class="dropdown drop-sub-menu-left drop-up">
                                        <li class="">
                                            <a href="@Url.Action("Index", "Home")">Cars List View</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class=" || ">

                                    <a href="javascript:void(0)">Eventos</a>
                                    <ul class="dropdown drop-sub-menu-left drop-up">
                                        <li class="">
                                            <a href="@Url.Action("Index", "Home")">Cruises List View</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="">
                            <a href="javascript:void(0)">Mis Viajes</a>
                            <ul class="dropdown drop-up">
                                <li class="">
                                    <a href="@Url.Action("About", "Home")">Acerca</a>
                                </li>

                                <li class="">
                                    <a href="@Url.Action("Contact", "Home")">Contactanos</a>
                                </li>

                                @*<li><a href="404.html">404 Not Found</a></li>

                                    <li><a href="coming-soon.html">Coming Soon</a></li>*@
                            </ul>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Index", "Home")">Blog</a>
                        </li>

                        <li class="">
                            <a href="javascript:void(0)">Usuarios</a>
                            <ul id="admin" class="dropdown drop-up">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="">
                                        <a href="@Url.Action("Dashboard", "Home")">Panel</a>
                                    </li>

                                    <li class="">
                                        <a href="@Url.Action("Profile", "Home")">Perfil</a>
                                    </li>

                                    <li class="">
                                        <a href="@Url.Action("Index", "Manage")">Configuracion</a>
                                    </li>
                                }
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li class="">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#signup">Unirte</a>
                                    </li>

                                    <li class="">
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#login">Ingresar</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="py-4">
                            <form class="d-lg-none" action="@Url.Action("Index", "Home")" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm rounded-0" required="" placeholder="Buscar....">
                                    <div class="input-group-append">
                                        <button class="input-group-text border-0 rounded-0 btn bg-primary" type="submit">
                                            <span class="text-white text-uppercase font-weight-bold">Buscar</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    @RenderBody()

    <!-- ====================================
     ——— FOOTER SECTION
     ===================================== -->
    <footer class="footer">
        <div class="footer-bg-color py-9">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-3 mb-7 mb-lg-0">
                        <a class="d-inline-block" href="@Url.Action("Index", "Home")">
                            <img class="w-100 mb-6 lazyestload" data-src="@Url.Content("~/assets/img/logo-color-sm.png")" src="@Url.Content("~/assets/img/logo-color-sm.png")" alt="img">
                        </a>
                        <p class="mb-0">Una página web para incentivar el turismo. Nuestro deseo es concentrar la atención principalmente en los diferentes itinerarios y rutas relacionados a los monumentos, sitios culturales y atracciones de nuestra provincia.</p>
                    </div>

                    <div class="col-md-6 col-lg-3 mt-md-4 mb-7 mb-lg-0">
                        <div class="title-tag">
                            <h6>Contactenos</h6>
                        </div>

                        <p>Somos un Grupo de estudiantes realizando el curso DFS2020.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="media mb-2">
                                <div class="mr-3">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="Home/Contact">Avenida Siempre Viva, 742, Springfield</a>
                                </div>
                            </li>

                            <li class="media mb-2">
                                <div class="mr-3">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="tel:549383456789">[54] 383 456 789</a>
                                </div>
                            </li>

                            <li class="media">
                                <div class="mr-3">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                                <div class="media-body">
                                    <a href="mailTo:mail.misviajes@gmail.com">mail.misviajes@gmail.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3 mt-lg-4">
                        <div class="title-tag">
                            <h6>Redes Sociales</h6>
                        </div>

                        <ul class="list-inline d-flex mb-0">
                            <li class="mr-3 mr-lg-2 mr-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-facebook text-white" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="mr-3 mr-lg-2 mr-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-twitter text-white" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="mr-3 mr-lg-2 mr-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-google-plus text-white" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="mr-3 mr-lg-2 mr-xl-3">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-pinterest-p text-white" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="">
                                <a class="icon-default icon-border rounded-circle hover-bg-primary" href="javascript:void(0)">
                                    <i class="fa fa-vimeo text-white" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright py-6">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 order-1 order-md-0">
                        <p class="mb-0 mb-md-0 text-md-left">
                            Copyright &copy; 2021 All Rights Reserved by
                            <a href="https://misviajes.somee.com/" target="_blank">misviajes</a>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-inline text-capitalize d-flex align-items-center justify-content-md-end justify-content-center mb-md-0">
                            <li class="mr-3">
                                <a href="@Url.Action("Index", "Home")">Privacidad</a>
                            </li>

                            <li class="mr-3">
                                <a href="@Url.Action("About", "Home")">Acerca</a>
                            </li>

                            <li class="mr-3">
                                <a href="@Url.Action("Contact", "Home")">Soporte</a>
                            </li>

                            <li class="">
                                <a href="@Url.Action("Index", "Home")">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- ====================================
    ——— MODAL SECTION
    ===================================== -->
    <!-- Signup Modal -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-label="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header rounded">
                    <h3 class="modal-title text-uppercase font-weight-bold">Crea Tu Cuenta</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_USingUP", new RegisterViewModel());
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-label="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header rounded">
                    <h3 class="modal-title text-uppercase font-weight-bold">Ingresar con tu cuenta</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Partial("_ULogIn", new LoginViewModel());
                </div>

                <div class="modal-footer justify-content-center">

                    <p class="mb-1">No tienes una cuenta? <a href="javascript:void(0)" data-toggle="modal" data-target="#signup" id="CrearC">Crear Cuenta</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- INQUIRY IN MODAL -->
    <div class="modal fade" id="inquiry" tabindex="-1" role="dialog" aria-label="inquiryModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header rounded">
                    <h3 class="modal-title text-uppercase font-weight-bold">Consultas</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pb-3">
                    <form class="" action="@Url.Action("Index", "Home")" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control bg-smoke" required="" placeholder="Your Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control bg-smoke" required="" placeholder="Your Email">
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control bg-smoke" required="" placeholder="Phone Number">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control bg-smoke" rows="6" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary text-uppercase">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- Javascript -->

    <script src="@Url.Content("~/assets/plugins/jquery/jquery-3.4.1.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/menuzord/js/menuzord.js")"></script>

    <script src="@Url.Content("~/assets/plugins/isotope/isotope.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/images-loaded/js/imagesloaded.pkgd.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/fancybox/jquery.fancybox.min.js")"></script>

    <script src="@Url.Content("~/assets/plugins/selectric/jquery.selectric.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/daterangepicker/js/moment.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/daterangepicker/js/daterangepicker.min.js")"></script>

    <script src="@Url.Content("~/assets/plugins/lazyestload/lazyestload.js")"></script>
    <script src="@Url.Content("~/assets/plugins/dzsparallaxer/dzsparallaxer.js")"></script>

    <script src="@Url.Content("~/assets/plugins/revolution/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/smoothscroll/SmoothScroll.js")"></script>

    <script type="text/javascript">
        $("#BttnLogin").click(function (event) {
            if ($("#loginform").validate()) {
                $("#preloader").css("opacity", "0.3");
                $("#preloader").show();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var data = $('#loginform').serialize();
                data = data.replace("L.Email=", "Email=");
                data = data.replace("L.Password=", "Password=");
                data = data.replace("L.RememberMe=", "RememberMe=");
                $.ajax({
                    url: '@Url.Action("Login", "Account")',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.ok == false) {
                            $("#ValLog").text(result.message);
                            $("#ValLog").show();
                            $("#preloader").hide();
                            $("#preloader").css("opacity", "1");
                        }
                        if (result.ok == true) {
                            window.location.replace(result.message);
                        }
                    }
                });

                return false;
            }
        });

        $("#CrearC").click(function (event) {
            $('#login').modal('toggle');
        });

        $("#BttnSingIn").click(function (event) {
            if ($("#formRegister").validate()) {
                $("#preloader").css("opacity", "0.3");
                $("#preloader").show();
                var form = $('#__AjaxAntiForgeryForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var data = $('#formRegister').serialize();
                data = data.replace("S.Email=", "Email=");
                data = data.replace("S.Password=", "Password=");
                data = data.replace("S.ConfirmPassword=", "ConfirmPassword=");
                console.log(data);
                $.ajax({
                    url: '@Url.Action("Register", "Account")',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if (result.ok == false) {
                            $("#ValSing").text(result.message);
                            $("#ValSing").show();
                            $("#preloader").hide();
                            $("#preloader").css("opacity", "1");
                        }
                        if (result.ok == true) {
                            window.location.replace(result.message);
                        }
                    }
                });
                return false;
            }
        });
    </script>
    <script src="@Url.Content("~/scripts/jquery.validate.min.js")"></script>">
    @RenderSection("scripts", required: false)
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->

    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="https://localhost:44344/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <script src="@Url.Content("~/assets/js/star.js")"></script>

    <!--SCRIPTS ANGULAR-->
    <script src="~/scripts/foro/runtime.js" defer></script>
    <script src="~/scripts/foro/polyfills.js" defer></script>
    <script src="~/scripts/foro/vendor.js" defer></script>
    <script src="~/scripts/foro/main.js" defer></script>
</body>
</html>

