@using MisViajes.Models
@using Microsoft.Owin.Security
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = "../Home/Dashboard" }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginform" }))
{
    @Html.AntiForgeryToken()
    <div class="validation-summary-valid text-danger">
        <p id="ValLog" style="display:none"></p>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control bg-smoke", type = "email", placeholder = "email", id = "L.Email=" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control bg-smoke", placeholder = "Password", id = "L.Password=" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <div class="form-group form-check mb-0">
        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label text-gray-color mb-3", id = "L.RememberMe=" })
        <a class="pull-right" href="../Account/ForgotPassword">Olvidastes tu contraseña?</a>
        <div class="text-center">
            <a class="justify-content-center" href="../Account/ForgotEmailConfirm">Confirmastes tu correo?</a>
        </div>
    </div>

}

<button type="button" id="BttnLogin" class="btn btn-primary btn-block text-uppercase">Ingresar</button>
<div class="text-uppercase text-center py-3">O</div>

@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = "../Home/Dashboard" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
        @foreach (AuthenticationDescription p in loginProviders)
        {
            <button type="submit" class="btn btn-facebook btn-block text-uppercase" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption">@p.AuthenticationType</button>
        }
    </div>
    }

}

