@model MisViajes.Models.Paises


@{
    ViewBag.Title = "Detalles del Pais";
}


<div class="main-wrapper element-title">
    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken"
             style="background-image: url(@Url.Content("~/assets/img/pages/page-title-bg2.jpg"));">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 200px;">
                    <div class="col-lg-6">
                        <div class="page-title-content">
                            <div class="title-border">
                                <h2 class="text-uppercase text-white font-weight-bold">@ViewBag.Title</h2>
                            </div>
                            <p class="text-white mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	CONTACT INFO SECTION
    ===================================== -->
    <section class="py-9 pt-md-10">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 col-lg-6 col-xl-7">

                    <div>
                        <h4 class="mt-4 ">PAIS</h4>
                        <hr />
                        <dl class="dl-horizontal text-uppercase ">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>

                            </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    </p>
                    <div class="row mb-4 ">
                        <div class="col-12 d-flex justify-content-end">
                            <a href="@Url.Action("Index")" class="btn  btn-primary d-lg-inline-block text-white">
                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                Volver
                            </a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>
    </section>

</div><!-- element wrapper ends -->


@section Scripts{}