@model MisViajes.Models.Rutas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rutas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abierto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abierto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aprobado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aprobado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
